header {
        width: 100%;
        background-image: url("pic2.jpg");
/*    background-image:linear-gradient(rgba(26,188,156,.4), rgba(41,128,155,.7)), url("pic2.jpg");*/
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
    height: 400px;
    border: 10px dashed red;
    box-sizing: border-box;
    background-origin: border-box;
    background-clip: content-box;
    background-attachment:fixed;

}
p {
    color: azure;
}

header:hover {
    filter: blur(5px);
}

    
    