p {
    color:blueviolet;
    background-color: bisque;
    padding: 10px 10px 10px 10px;
    border: 0.5px solid blue; 
    border-radius: 3px;
    margin: 0;
    margin: 20px;
    
}

p:hover {
background-color: azure;
}